[Desktop Entry]
Type=Application

Name=Oply Radio
Name[af]=Oply Radio
Name[ar]=أوبلي راديو
Name[be]=Oply Radio
Name[bg]=Oply Radio
Name[bn]=ওপ্লি রেডিও
Name[bn_IN]=Oply Radio
Name[ca]=Oply Ràdio
Name[cs]=Oply Radio
Name[da]=Oply Radio
Name[de]=Oply Radio
Name[el]=Oply Radio
Name[en_GB]=Oply Radio
Name[es]=Oply Radio
Name[et]=Oply Radio
Name[eu]=Oply Irratia
Name[fa]=اوپلی رادیو
Name[fi]=Oply Radio
Name[fo]=Oply Radio
Name[fr]=Oply Radio
Name[frp]=Oply Radio
Name[gl]=Oply Radio
Name[he]=אופלי רדיו
Name[hr]=Oply Radio
Name[hu]=Oply Rádió
Name[id]=Oply Radio
Name[is]=Oply Radio
Name[it]=Oply Radio
Name[ja]=Oply ラジオ
Name[kk]=Oply Radio
Name[ko]=Oply 라디오
Name[lg]=Oply Radio
Name[lt]=Oply Radijas
Name[ms]=Oply Radio
Name[nb]=Oply Radio
Name[nl]=Oply Radio
Name[nn]=Oply Radio
Name[pl]=Oply Radio
Name[pt]=Oply Rádio
Name[pt_BR]=Oply Rádio
Name[ro]=Oply Radio
Name[ru]=Oply Радио
Name[sk]=Oply Radio
Name[sl]=Oply Radio
Name[sr]=Oply Radio
Name[sr@latin]=Oply Radio
Name[sv]=Oply Radio
Name[te]=ఓప్లి రేడియో
Name[tr]=Oply Radyo
Name[tt_RU]=Oply Radio
Name[ug]=Oply رادىيو
Name[uk]=Oply Radio
Name[ur]=اوپلی ریڈیو
Name[ur_PK]=اوپلی ریڈیو
Name[vi]=Oply Radio
Name[zh_CN]=Oply 电台
Name[zh_TW]=Oply 廣播

GenericName=Radio Player
GenericName[af]=Radio-speler
GenericName[ar]=مشغل راديو
GenericName[be]=Радыёпрайгравальнік
GenericName[bg]=Радио плейър
GenericName[bn]=রেডিও প্লেয়ার
GenericName[bn_IN]=রেডিও প্লেয়ার
GenericName[ca]=Reproductor de ràdio
GenericName[cs]=Přehrávač rádia
GenericName[da]=Radioafspiller
GenericName[de]=Radioplayer
GenericName[el]=Αναπαραγωγέας ραδιοφώνου
GenericName[en_GB]=Radio Player
GenericName[es]=Reproductor de radio
GenericName[et]=Raadiopleier
GenericName[eu]=Irrati erreproduzitzailea
GenericName[fa]=پخش‌کننده رادیو
GenericName[fi]=Radiosoittin
GenericName[fo]=Útvarpsavspælari
GenericName[fr]=Lecteur radio
GenericName[gl]=Reprodutor de radio
GenericName[he]=נגן רדיו
GenericName[hr]=Radio svirač
GenericName[hu]=Rádiólejátszó
GenericName[id]=Pemutar Radio
GenericName[is]=Útvarpsspilari
GenericName[it]=Lettore radio
GenericName[ja]=ラジオプレーヤー
GenericName[kk]=Радио ойнатқыш
GenericName[ko]=라디오 재생기
GenericName[lt]=Radijo grotuvas
GenericName[nb]=Radiospiller
GenericName[nl]=Radiospeler
GenericName[nn]=Radiospelar
GenericName[pl]=Odtwarzacz radia
GenericName[pt]=Reprodutor de rádio
GenericName[pt_BR]=Reprodutor de rádio
GenericName[ro]=Player radio
GenericName[ru]=Радиоплеер
GenericName[sk]=Rádioprehrávač
GenericName[sl]=Radijski predvajalnik
GenericName[sr]=Radio plejer
GenericName[sr@latin]=Radio plejer
GenericName[sv]=Radiospelare
GenericName[te]=రేడియో ప్లేయర్
GenericName[tr]=Radyo Oynatıcı
GenericName[ug]=رادىيو قويغۇ
GenericName[uk]=Програвач радіо
GenericName[vi]=Trình phát radio
GenericName[zh_CN]=电台播放器
GenericName[zh_TW]=廣播播放器

Comment=Listen to online radio stations easily
Comment[af]=Luister maklik na aanlyn radiostasies
Comment[ar]=استمع إلى محطات الراديو عبر الإنترنت بسهولة
Comment[be]=Слухайце анлайн-радыё лёгка
Comment[bg]=Слушайте онлайн радио лесно
Comment[bn]=সহজে অনলাইন রেডিও শুনুন
Comment[bn_IN]=সহজে অনলাইন রেডিও শুনুন
Comment[ca]=Escolteu emissores de ràdio en línia fàcilment
Comment[cs]=Snadno poslouchejte online rádio
Comment[da]=Lyt nemt til online radio
Comment[de]=Online-Radiosender einfach hören
Comment[el]=Ακούστε εύκολα διαδικτυακούς ραδιοφωνικούς σταθμούς
Comment[en_GB]=Listen to online radio stations easily
Comment[es]=Escuchá radios online fácilmente
Comment[et]=Kuula veebiraadiot lihtsalt
Comment[eu]=Entzun online irratiak erraz
Comment[fa]=به‌راحتی به رادیوهای آنلاین گوش دهید
Comment[fi]=Kuuntele nettiradiota helposti
Comment[fo]=Hoyr online útvarp lættliga
Comment[fr]=Écoutez des radios en ligne facilement
Comment[gl]=Escoite radios en liña doadamente
Comment[he]=האזנה קלה לתחנות רדיו מקוונות
Comment[hr]=Jednostavno slušajte online radio stanice
Comment[hu]=Hallgass online rádiókat könnyedén
Comment[id]=Dengarkan radio online dengan mudah
Comment[is]=Hlustaðu auðveldlega á netútvarp
Comment[it]=Ascolta facilmente le radio online
Comment[ja]=オンラインラジオを簡単に聴けます
Comment[kk]=Онлайн радионы оңай тыңдаңыз
Comment[ko]=온라인 라디오를 쉽게 들어보세요
Comment[lt]=Lengvai klausykitės internetinių radijo stočių
Comment[nb]=Lytt enkelt til nettradio
Comment[nl]=Luister eenvoudig naar online radiozenders
Comment[nn]=Lytt enkelt til nettradio
Comment[pl]=Słuchaj radia online z łatwością
Comment[pt]=Ouça rádios online facilmente
Comment[pt_BR]=Ouça rádios online facilmente
Comment[ro]=Ascultați ușor posturi radio online
Comment[ru]=Слушайте онлайн-радио легко
Comment[sk]=Jednoducho počúvajte online rádiá
Comment[sl]=Preprosto poslušajte spletne radie
Comment[sr]=Слушајте онлајн радио лако
Comment[sr@latin]=Slušajte onlajn radio lako
Comment[sv]=Lyssna enkelt på webbradio
Comment[te]=ఆన్‌లైన్ రేడియోను సులభంగా వినండి
Comment[tr]=Çevrimiçi radyoyu kolayca dinleyin
Comment[ug]=ئاسانلا تور رادىيوسى ئاڭلاڭ
Comment[uk]=Легко слухайте онлайн-радіо
Comment[vi]=Nghe radio trực tuyến dễ dàng
Comment[zh_CN]=轻松收听在线电台
Comment[zh_TW]=輕鬆收聽線上廣播

Keywords=radio;stream;audio;music;player;oply;estaciones;emisoras;online;
Exec=/usr/local/bin/oply_radio
Icon=/usr/local/Oply/icons/radio.svg
Terminal=false
StartupNotify=true
Categories=AudioVideo;Audio;Player;
