[Desktop Entry]
Type=Application
Name=Oply Video Player
Name[af]=Oply Video Player
Name[ar]=مشغل الفيديو Oply
Name[be]=Oply Video Player
Name[bg]=Oply Video Player
Name[bn]=Oply Video Player
Name[bn_IN]=Oply Video Player
Name[ca]=Reproductor de Vídeo Oply
Name[cs]=Oply Video Player
Name[da]=Oply Video Player
Name[de]=Oply Video Player
Name[el]=Oply Video Player
Name[en_GB]=Oply Video Player
Name[es]=Oply Reproductor de Video
Name[et]=Oply Video Player
Name[eu]=Oply Video Player
Name[fa]=Oply Video Player
Name[fi]=Oply Video Player
Name[fo]=Oply Video Player
Name[fr]=Lecteur Vidéo Oply
Name[frp]=Oply Video Player
Name[gl]=Oply Video Player
Name[he]=Oply Video Player
Name[hr]=Oply Video Player
Name[hu]=Oply Videolejátszó
Name[id]=Oply Video Player
Name[is]=Oply Video Player
Name[it]=Lettore Video Oply
Name[ja]=Oply ビデオプレーヤー
Name[kk]=Oply Video Player
Name[ko]=Oply Video Player
Name[lg]=Oply Video Player
Name[lt]=Oply Video Player
Name[ms]=Oply Video Player
Name[nb]=Oply Video Player
Name[nl]=Oply Video Player
Name[nn]=Oply Video Player
Name[pl]=Oply Video Player
Name[pt]=Oply Video Player
Name[pt_BR]=Oply Video Player
Name[ro]=Oply Video Player
Name[ru]=Oply Видеоплеер
Name[sk]=Oply Video Player
Name[sl]=Oply Video Player
Name[sr]=Oply Video Player
Name[sr@latin]=Oply Video Player
Name[sv]=Oply Video Player
Name[te]=Oply Video Player
Name[tr]=Oply Video Player
Name[tt_RU]=Oply Video Player
Name[ug]=Oply Video Player
Name[uk]=Oply Video Player
Name[ur]=Oply Video Player
Name[ur_PK]=Oply Video Player
Name[vi]=Oply Video Player
Name[zh_CN]=Oply Video Player
Name[zh_TW]=Oply Video Player
Comment=Play videos with Oply Video Player
Comment[af]=Play videos with Oply Video Player
Comment[ar]=تشغيل الفيديوهات باستخدام Oply Video Player
Comment[be]=Play videos with Oply Video Player
Comment[bg]=Play videos with Oply Video Player
Comment[bn]=Play videos with Oply Video Player
Comment[bn_IN]=Play videos with Oply Video Player
Comment[ca]=Reprodueix vídeos amb Oply Video Player
Comment[cs]=Play videos with Oply Video Player
Comment[da]=Play videos with Oply Video Player
Comment[de]=Play videos with Oply Video Player
Comment[el]=Play videos with Oply Video Player
Comment[en_GB]=Play videos with Oply Video Player
Comment[es]=Reproduce videos con Oply Video Player
Comment[et]=Play videos with Oply Video Player
Comment[eu]=Play videos with Oply Video Player
Comment[fa]=Play videos with Oply Video Player
Comment[fi]=Play videos with Oply Video Player
Comment[fo]=Play videos with Oply Video Player
Comment[fr]=Lire des vidéos avec Oply Video Player
Comment[gl]=Play videos with Oply Video Player
Comment[he]=Play videos with Oply Video Player
Comment[hr]=Play videos with Oply Video Player
Comment[hu]=Videók lejátszása az Oply Video Playerrel
Comment[id]=Play videos with Oply Video Player
Comment[is]=Play videos with Oply Video Player
Comment[it]=Riproduci video con Oply Video Player
Comment[ja]=Oply Video Playerでビデオを再生します
Comment[kk]=Play videos with Oply Video Player
Comment[ko]=Play videos with Oply Video Player
Comment[lg]=Play videos with Oply Video Player
Comment[lt]=Play videos with Oply Video Player
Comment[nb]=Play videos with Oply Video Player
Comment[nl]=Play videos with Oply Video Player
Comment[nn]=Play videos with Oply Video Player
Comment[pl]=Play videos with Oply Video Player
Comment[pt]=Play videos with Oply Video Player
Comment[pt_BR]=Play videos with Oply Video Player
Comment[ro]=Play videos with Oply Video Player
Comment[ru]=Воспроизводит видео с помощью Oply Video Player
Comment[sk]=Play videos with Oply Video Player
Comment[sl]=Play videos with Oply Video Player
Comment[sr]=Play videos with Oply Video Player
Comment[sr@latin]=Play videos with Oply Video Player
Comment[sv]=Play videos with Oply Video Player
Comment[te]=Play videos with Oply Video Player
Comment[tr]=Play videos with Oply Video Player
Comment[tt_RU]=Play videos with Oply Video Player
Comment[ug]=Play videos with Oply Video Player
Comment[uk]=Play videos with Oply Video Player
Comment[vi]=Play videos with Oply Video Player
Comment[zh_CN]=Play videos with Oply Video Player
Comment[zh_TW]=Play videos with Oply Video Player
Keywords=audio;music;player;mp3;ogg;flac;reproductor;musica;oply;
Exec=/usr/local/Oply/Oply-Video.py
Icon=/usr/local/Oply/icons/oply.svg
Terminal=false
StartupNotify=true
Categories=AudioVideo;Audio;Player;
